<div class="card mb-4">
  <div class="card-body">
    <div class="d-flex justify-content-between code-card-head">
      <h3 class="card-title">{{text.title}}</h3>
      <div>
        {{#each text.links}}
          <a
            class="link-divider-last"
            href="{{this.link}}"
            target="_blank"
          ><span>{{this.display}}</span></a>
        {{/each}}
      </div>
    </div>
    <h6 class="card-subtitle mb-2 text-muted">{{text.role}}</h6>
    <p class="card-text">
      {{#each text.text}}
        <p>{{this}}</p>
      {{/each}}
    </p>
    <hr />
    <span>Frameworks:&nbsp;&nbsp;{{text.frameworks}}</span>
    <hr />
    <span>Languages:&nbsp;&nbsp;&nbsp;&nbsp;</span>
    {{#each text.languages}}
      <span style="color: {{this.color}}">&#11044;&nbsp;</span><span
      >{{this.display}}</span>&nbsp;&nbsp;
    {{/each}}
  </div>
</div>